*{
    font-family: 'poppins';
}
:root{
    --color-default:#004f83;
    --color-second:#0067ac;
    --color-white:#fff;
    --color-body:#e4e9f7;
    --color-light:#e0e0e0;
}
a{
    text-decoration: none;
}

body{
    background: var(--color-second);
    background-repeat: no-repeat;
    height: 100vh;
}

label{
    font-size: 11pt;
    margin: -5;
}
.label-upload{
    margin-top: 40px;
    justify-content: left;
}
.label-upload i{
    margin-left: -5;
}

#forgot-pass{
    color: var(--color-second);
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}

.Card{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: auto;
    margin: 4rem auto 8.1rem auto;
    width: 350px;
}
.Card-content{
    padding: 14px 44px;
}
.Card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 3px;
    padding-bottom: 3px;
    padding-top: 7px;
    text-align: center;
}
.Card-title h2{
    letter-spacing: 2px;
    margin-bottom: -10px;
    color:#004f83;
}
.profil{
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview{ 
    border-radius: 50%;
}
#unhide{
    cursor: pointer;
}
.btn-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#submit-btn{
    background: var(--color-default);
    border-radius: 21px;
    border: none;
    box-shadow: 0px 1px 7px grey;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 7px 7px;
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover{
    box-shadow: 0px 1px 16px grey;
    background: var(--color-second);
}
.back{
    display: inline-block;
    position: relative;
    color: var(--color-second);
    font-size: 10pt;
    margin-left: 77px;
}
.back::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
} 
.back:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.form{
    align-items: left;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.form-border{
    height: 1px;
    width: 100%;
    background: var(--color-default);
}

.form-content{
    background: #fbfbfb;
    border: none;
    outline: none;
    padding: 5px 10px;
}
.underline-title{
    background: var(--color-second);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 200px;
}

.upload{
    position: relative;
    border-radius: 5px;
    background: var(--color-second);
    margin-left: 3px;
    color: #fbfbfb;
    overflow: hidden;
    border: 0;
    margin-bottom: 3px;
}
.upload input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(5);
    opacity: 0;
}
.cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10pt;
}
label .fa-camera{
    margin-left: -3px;
    margin-right: 6px;
}
label .fa-location-dot{
    margin-left: 2px;
}

/* Responsive */
@media (max-width: 1280px){
    body{
        height: 100vh;
        width: 100%;
    }

    .Card{
        width: 100px;
    }
}